/* Forms */

.form_container {
	grid-area: main;

	form {
		input {
			display: block;
			width: 500px;
			font-size: 20px;
			padding: 2px 5px;
			border-radius: 8px;
		}

		textarea {
			margin-top: 5px;
			padding: 2px 5px;
			font-size: 20px;
			display: block;
			width: 500px;
			height: 300px;
			border-radius: 8px;
		}
	}
}
