/* Header */

.header_wrapper {
	font-family: 'Laila', serif;
	z-index: 1;

	.banner {
		padding: 32px;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		background: url("/img/headeroverlay.png") no-repeat;
		background-size: cover;
	}

	.ip,
	.status {
		color: $navbar-text;
		font-size: 22px;
		font-weight: 700;
	}

	.offline {
		color: $error_text;
	}

	.online {
		color: $succes_text;
	}

	.navigation {
		position: sticky;
		box-sizing: border-box;
		height: 70px;
		padding: 3px 20px;
		background: $navbar;
		color: $navbar-text;

		.nav_links {
			list-style: none;
			float: right;
			margin: 0 20px 0 0;
			color: $navbar-text;

			label {
				padding: 16px 20px;
				box-sizing: border-box;
				overflow: hidden;
				max-width: 180px;
				//min-width: 100%;
				text-align: center;
				overflow: hidden;
				display: block;
				float: left;
				cursor: pointer;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			input {
				visibility: hidden;
			}

			input:checked~label {
				color: $primary;
			}

			input:checked~ul.submenu {
				max-height: 300px;
				transition: max-height 0.5s ease-in;
			}

			ul.submenu {
				padding: 0;
				max-height: 0px;
				transition: max-height 0.5s ease-out;
				overflow: hidden;
				list-style-type: none;
				min-width: 100%;
				max-width: 200px;

				li {
					display: block;
					box-sizing: border-box;
				}
			}

			&>li {
				background: $navbar;
				display: block;
				float: left;
				font-size: 20px;
				box-sizing: border-box;
				transform: skew(-20deg);
				border-left: 1px solid $navbar-text;

				&:hover {
					color: $navbar-text-hover;
				}
			}

			a {
				max-width: 220px;
				text-overflow: ellipsis;
				padding: 16px 20px;
				display: block;
				color: $navbar-text;
				text-decoration: none;

				&:hover {
					color: $navbar-text-hover;
				}
			}

		}
	}
}
