/* Header */

.header_wrapper {
	font-family: 'Laila', serif;
	z-index: 5;

	.banner {
		padding: 32px;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		background: url("/img/headeroverlay.png") no-repeat;
		background-size: cover;
	}

	.ip,
	.status {
		color: $navbar-text;
		font-size: 22px;
		font-weight: 700;
	}

	.offline {
		color: $error_text;
	}

	.online {
		color: $succes_text;
	}

	.navigation {
		position: sticky;
		box-sizing: border-box;
		height: 70px;
		padding: 3px 20px;
		background: $navbar;
		color: $navbar-text;

		.menu_toggle {
			display: none;
		}

		.menu_button {
			cursor: pointer;
			display: flex;
			float: right;
			padding: 16px 20px;
			position: relative;
			height: 32px;
			align-items: center;

			span {
				background: $primary-text;
				display: block;
				height: 4px;
				position: relative;
				width: 32px;
				border-radius: 2px;

				&:before,
				&:after {
					background: $primary-text;
					content: '';
					display: block;
					height: 100%;
					position: absolute;
					transition: all .2s ease-out;
					width: 100%;
					border-radius: 2px;
				}

				&:before {
					top: -10px;
				}

				&:after {
					top: 10px;
				}
			}
		}


		/* Menu on */
		.menu_toggle:checked~.nav_links {
			max-height: 100vh;
		}

		.menu_toggle:checked~.menu_button span {
			background: transparent;

			&:before {
				transform: rotate(45deg);
				top: 0px;
			}

			&:after {
				transform: rotate(-45deg);
				top: 0px;
			}
		}


		.nav_links {
			overflow: hidden;
			list-style: none;
			clear: both;
			max-height: 0;
			transition: max-height .2s ease-out;
			margin: 0 20px 0 0;
			color: $navbar-text;

			label {
				padding: 16px 20px;
				box-sizing: border-box;
				overflow: hidden;
				display: none;
				cursor: pointer;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			input {
				display: none;
			}

			ul.submenu {
				padding: 0;
				background: $navbar;
				top: 100%;
				transition: max-height 0.5s ease-out;
				overflow: hidden;
				list-style-type: none;
				min-width: 100%;
				max-width: 200px;

				li {
					display: block;
					box-sizing: border-box;
				}
			}

			&>li {
				background: $navbar;
				display: block;
				font-size: 20px;
				box-sizing: border-box;


				&:hover {
					color: $navbar-text-hover;
				}
			}

			a {
				text-overflow: ellipsis;
				padding: 16px 20px;
				display: block;
				color: $navbar-text;
				text-decoration: none;

				&:hover {
					color: $navbar-text-hover;
				}
			}
		}
	}
}
