/* Home */

.news_container {
	grid-area: main;


	.news {
		h2 {
			font-size: 24px;
			margin-bottom: 0;
		}

		.edit a {
			color: $primary-text;
			text-decoration: none;
			float: right;
			margin: 0 8px;
			font-style: italic;
		}

		.author,
		.date {
			display: inline-block;
			font-style: italic;
		}
	}
}

.older {
	float: left;
	display: block;
}

.newer {
	float: right;
	display: block;
}

.older a,
.newer a {
	color: $primary-text;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
	z-index: 1;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		background: $navbar;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: skew(-15deg);
		z-index: -1;
	}
}

.events_container {
	grid-area: side;
}

.content_title {
	position: relative;
	font-size: 24px;
	font-weight: 700;
	padding: 10px 20px;
	text-align: center;
	color: $navbar_text;
	z-index: 1;

	&:after {
		content: '';
		position: absolute;
		background: $navbar;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: skew(-15deg);
		z-index: -1;
	}
}
