/* Home */

.news_container {

	.news {
		padding: 0 4px 8px 4px;
		box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
		border-bottom-right-radius: 8px;
		margin-bottom: 8px;

		.title {
			font-size: 24px;
			margin-bottom: 0;
			color: $link-color;
		}

		.edit a {
			color: $link-color;
			text-align: center;
			font-size: 0.9em;
			float: right;
			margin: 0 8px;
			font-style: italic;
		}

		.author,
		.date {
			font-size: 0.9em;
			display: inline-block;
			font-style: italic;
		}
	}
}

.older {
	float: left;
	display: block;
}

.newer {
	float: right;
	display: block;
}

.pagination {
	margin: 8px 0;
	display: flex;
	width: 100%;
	justify-content: center;

	.current a,
	.first a,
	.previous a,
	.next a,
	.last a {
		margin: 0px 5px;
		color: $primary-text;
		padding: 8px 16px;
		text-decoration: none;
		text-align: center;
		z-index: 1;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			background: $navbar;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform: skew(-15deg);
			z-index: -1;
		}
	}
}

.older a,
.newer a {
	color: $primary-text;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
	z-index: 1;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		background: $navbar;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: skew(-15deg);
		z-index: -1;
	}
}

.upcoming_container {
	grid-area: main;
}

.events_container {
	grid-area: side;
}

.upcoming_container,
.events_container {

	a {
		font-style: italic;
		color: $link-color;
		text-align: center;
	}

	.event {
		padding: 0 4px 8px 4px;
		box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
		border-bottom-right-radius: 8px;
		margin-bottom: 8px;

		.title {
			font-size: 24px;
			margin-bottom: 0;
			color: $link-color;
		}

		.edit a {
			color: $link-color;
			text-align: center;
			font-size: 0.9em;
			float: right;
			margin: 0 8px;
			font-style: italic;
		}

		.author,
		.date {
			font-size: 0.9em;
			display: inline-block;
			font-style: italic;
		}
	}
}

.content_title {
	position: relative;
	font-size: 24px;
	font-weight: 700;
	padding: 10px 20px;
	text-align: center;
	color: $navbar-text;
	z-index: 1;

	&:after {
		content: '';
		position: absolute;
		background: $navbar;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: skew(-15deg);
		z-index: -1;
	}
}

.info_box {
	max-width: 300px;
	text-align: center;

	.img_container {
		display: flex;
		justify-content: center;

		img {
			display: block;
			width: 150px;
			height: 150px;
			object-fit: cover;
		}
	}
}

.home_page {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 16px 4px 24px 4px;
}