/* PM */

.pm_container {
	grid-area: main;
}

.pm_side_container {
	grid-area: side;
}

.pm_container,
.pm_side_container {

	.links {
		display: flex;
		justify-content: center;
		margin: 8px;
		flex-wrap: wrap;

		a {
			width: 75%;
			display: block;
			margin: 8px 0;
			color: $primary-text;
			text-decoration: none;
			padding: 8px 16px;
			z-index: 1;
			position: relative;
			text-align: center;

			&:after {
				content: '';
				position: absolute;
				background: $quaternary;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				transform: skew(-15deg);
				z-index: -1;
			}
		}
	}

	.users {
		display: flex;
		flex-wrap: wrap;
		float: left;
		width: 150px;

		.from {
			font-weight: 700;
		}

		.to {
			font-weight: 700;
		}
	}

	.date {
		display: flex;
		flex-wrap: wrap;
		float: right;
		width: 150px;
	}

	.msgtitle {
		font-size: 22px;
		font-weight: 700;
		//text-align: center;
		clear: both;
		padding-top: 16px;
		border-bottom: 1px solid $primary_text;
	}

	.msg {
		clear: both;
	}

	.pm {
		display: flex;
		justify-content: flex-start;

		a {
			width: calc(100% - 50px);
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			color: $primary_text;
			text-align: center;
			text-decoration: none;
		}

		.time,
		.sender,
		.receiver,
		.title {
			text-align: left;
			margin: 0 8px;
			padding: 8px;
			box-sizing: border-box;
			cursor: pointer;
		}

		.sender,
		.receiver,
		.title {
			min-width: 75px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.sender,
		.receiver {
			max-width: 250px;
		}

		.title {
			width: calc(100% - 330px);
		}

		.time {
			width: 70px;
		}

		.icons {
			display: flex;
			flex-wrap: no-wrap;
			align-items: center;
			width: 50px;
			justify-content: space-between;
		}

	}
}

.trash {
	cursor: pointer;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
