// Body


// Typography


// Colors
$primary: hsla(180, 100%, 45%, 1);
$primary-text: hsla(0, 0%, 20%, 1);

$navbar: hsla(0, 0%, 20%, 1);
$navbar-text: hsla(0, 0%, 95%, 1);
$navbar-text-hover: hsla(180, 100%, 45%, 1);

$error_text: hsla(0, 100%, 25%, 1);
$succes_text: hsla(115, 100%, 12%, 1);
