// Body


// Typography


// Colors
$primary: hsla(0, 0%, 94%, 1);
$primary-text: hsla(0, 0%, 10%, 1);
$link-color: hsla(195, 100%, 11%, 1);

$navbar: hsla(0, 0%, 28%, 1);
$navbar-text: hsla(0, 0%, 90%, 1);
$navbar-text-hover: hsla(180, 100%, 70%, 1);

$error: hsla(0, 100%, 10%, 1);
$error_text: hsla(0, 100%, 74%, 1);
$succes: hsla(115, 100%, 10%, 1);
$succes_text: hsla(115, 100%, 74%, 1);

$tertiary: hsla(0, 0%, 90%, 1);
$quaternary: hsla(195, 100%, 70%, 1);
