@import 'variables';

body {
	font-size: 16px;
	margin: 0;
	background: $primary;
	color: $primary-text;
	font-family: 'Montserrat', sans-serif;
}

.page_wrapper {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto auto auto;
	grid-template-areas:
		"header"
		"content"
		"sidebar"
		"ad"
		"footer";
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-position: 50% 50%;
	background-size: cover;
	display: none;
}

/*Grid Areas */
.header_wrapper {
	grid-area: header;
}

.reverse_content_wrapper,
.content_wrapper,
.full_content_wrapper {
	padding: 10px;
	box-sizing: border-box;
	background: $primary;
	grid-area: content;
}

.reverse_content_wrapper,
.content_wrapper {
	display: grid;
	grid-gap: 16px;
	grid-template-areas:
		"main"
		"side"
}

.sidebar {
	grid-area: sidebar;
}

.ad {
	grid-area: ad;
}

.footer_wrapper {
	grid-area: footer;
}

.main_container {
	grid-area: main;
}

.side_container {
	grid-area: side;
}

@import 'header';
@import 'home';
@import 'forms';
@import 'rules';
@import 'staff';
@import 'profile';
@import 'markdown';

@import 'footer';
@import 'media';
