body {
  margin: 0;
  background: #471540;
  color: #e6e6e6;
  font-family: "Montserrat", sans-serif;
}

.page_wrapper {
  width: 100%;
  grid-gap: 10px;
  display: grid;
  grid-template-areas: "header" "content" "sidebar" "ad" "footer";
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: 50% 50%;
  background-size: cover;
  display: none;
}

/*Grid Areas */
.header_wrapper {
  grid-area: header;
}

.content_wrapper {
  padding: 10px;
  box-sizing: border-box;
  background: #471540;
  display: grid;
  grid-gap: 16px;
  grid-area: content;
  grid-template-areas: "main" "side";
}

.sidebar {
  grid-area: sidebar;
}

.ad {
  grid-area: ad;
}

.footer_wrapper {
  grid-area: footer;
}

.main_container {
  grid-area: main;
}

.side_container {
  grid-area: side;
}

/* Header */
.header_wrapper {
  font-family: "Laila", serif;
  z-index: 5;
}
.header_wrapper .banner {
  padding: 32px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  background: url("/img/headeroverlay.png") no-repeat;
  background-size: cover;
}
.header_wrapper .ip,
.header_wrapper .status {
  color: #e6e6e6;
  font-size: 22px;
  font-weight: 700;
}
.header_wrapper .offline {
  color: #ff7a7a;
}
.header_wrapper .online {
  color: #15ff00;
}
.header_wrapper .navigation {
  position: sticky;
  box-sizing: border-box;
  height: 70px;
  padding: 3px 20px;
  background: #1c1547;
  color: #e6e6e6;
  /* Menu on */
}
.header_wrapper .navigation .menu_toggle {
  display: none;
}
.header_wrapper .navigation .menu_button {
  cursor: pointer;
  display: flex;
  float: right;
  padding: 16px 20px;
  position: relative;
  height: 32px;
  align-items: center;
}
.header_wrapper .navigation .menu_button span {
  background: #e6e6e6;
  display: block;
  height: 4px;
  position: relative;
  width: 32px;
  border-radius: 2px;
}
.header_wrapper .navigation .menu_button span:before, .header_wrapper .navigation .menu_button span:after {
  background: #e6e6e6;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 2px;
}
.header_wrapper .navigation .menu_button span:before {
  top: -10px;
}
.header_wrapper .navigation .menu_button span:after {
  top: 10px;
}
.header_wrapper .navigation .menu_toggle:checked ~ .nav_links {
  max-height: 100vh;
}
.header_wrapper .navigation .menu_toggle:checked ~ .menu_button span {
  background: transparent;
}
.header_wrapper .navigation .menu_toggle:checked ~ .menu_button span:before {
  transform: rotate(45deg);
  top: 0px;
}
.header_wrapper .navigation .menu_toggle:checked ~ .menu_button span:after {
  transform: rotate(-45deg);
  top: 0px;
}
.header_wrapper .navigation .nav_links {
  overflow: hidden;
  list-style: none;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin: 0 20px 0 0;
  color: #e6e6e6;
}
.header_wrapper .navigation .nav_links label {
  padding: 16px 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header_wrapper .navigation .nav_links input {
  display: none;
}
.header_wrapper .navigation .nav_links ul.submenu {
  padding: 0;
  background: #1c1547;
  top: 100%;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  list-style-type: none;
  min-width: 100%;
  max-width: 200px;
}
.header_wrapper .navigation .nav_links ul.submenu li {
  display: block;
  box-sizing: border-box;
}
.header_wrapper .navigation .nav_links > li {
  background: #1c1547;
  display: block;
  font-size: 20px;
  box-sizing: border-box;
}
.header_wrapper .navigation .nav_links > li:hover {
  color: #00e6e6;
}
.header_wrapper .navigation .nav_links a {
  text-overflow: ellipsis;
  padding: 16px 20px;
  display: block;
  color: #e6e6e6;
  text-decoration: none;
}
.header_wrapper .navigation .nav_links a:hover {
  color: #00e6e6;
}

/* Home */
.news_container {
  grid-area: main;
}
.news_container .news h2 {
  font-size: 24px;
  margin-bottom: 0;
}
.news_container .news .edit a {
  font-size: 0.9em;
  color: #e6e6e6;
  text-decoration: none;
  float: right;
  margin: 0 8px;
  font-style: italic;
}
.news_container .news .author,
.news_container .news .date {
  font-size: 0.9em;
  display: inline-block;
  font-style: italic;
}

.older {
  float: left;
  display: block;
}

.newer {
  float: right;
  display: block;
}

.pagination {
  margin: 8px 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.pagination .current a,
.pagination .first a,
.pagination .previous a,
.pagination .next a,
.pagination .last a {
  margin: 0px 5px;
  color: #e6e6e6;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: relative;
}
.pagination .current a:after,
.pagination .first a:after,
.pagination .previous a:after,
.pagination .next a:after,
.pagination .last a:after {
  content: "";
  position: absolute;
  background: #1c1547;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

.older a,
.newer a {
  color: #e6e6e6;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: relative;
}
.older a:after,
.newer a:after {
  content: "";
  position: absolute;
  background: #1c1547;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

.events_container {
  grid-area: side;
}
.events_container .event h2 {
  font-size: 24px;
  margin-bottom: 0;
}
.events_container .event .edit a {
  font-size: 0.9em;
  color: #e6e6e6;
  text-decoration: none;
  float: right;
  margin: 0 8px;
  font-style: italic;
}
.events_container .event .author,
.events_container .event .date {
  font-size: 0.9em;
  display: inline-block;
  font-style: italic;
}

.content_title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  color: #e6e6e6;
  z-index: 1;
}
.content_title:after {
  content: "";
  position: absolute;
  background: #1c1547;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

/* Shapes */
#nav_title {
  position: absolute;
  top: -10px;
  box-sizing: border-box;
  margin-left: 40px;
  padding: 5px;
  width: 250px;
  height: 90px;
  transform: skew(-20deg);
  font-size: 28px;
  background: #1c1547;
  color: #e6e6e6;
  text-align: center;
  font-family: "Laila", serif;
  font-weight: 700;
}

/* Forms */
.form_center_v {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form_img {
  width: 256px;
  height: 256px;
  object-fit: cover;
}

.alert {
  display: block;
  min-width: 300px;
  max-width: 500px;
  transform: skew(-15deg);
  margin: 16px 0;
}

.alert_error {
  background: #330000;
  color: #ff7a7a;
  font-size: 20px;
  padding: 8px 16px;
}

.alert_success {
  background: #15471c;
  color: #15ff00;
  font-size: 20px;
  padding: 8px 16px;
}

.form_container {
  grid-area: main;
  display: flex;
  justify-content: center;
  width: 100%;
}
.form_container .form_width {
  width: 100%;
}
.form_container a {
  display: inline-block;
  margin: 8px 8px;
  color: #e6e6e6;
  text-decoration: none;
  padding: 8px 16px;
  z-index: 1;
  position: relative;
}
.form_container a:after {
  content: "";
  position: absolute;
  background: #1c1547;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.form_container h2 {
  font-size: 24px;
  position: relative;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  color: #e6e6e6;
  z-index: 1;
}
.form_container h2:after {
  content: "";
  position: absolute;
  background: #15471c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.form_container form input {
  display: block;
  min-width: 300px;
  max-width: 100%;
  font-size: 20px;
  padding: 2px 5px;
  border-radius: 8px;
  margin-bottom: 16px;
  outline: none;
}
.form_container form input:focus {
  border: #15471c 2px inset;
}
.form_container form input[type=checkbox],
.form_container form input[type=radio] {
  display: inline-block;
  min-width: 10px;
  max-width: 16px;
}
.form_container form .radio_options {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form_container form .radio_options .radio_main_label {
  display: block;
  width: 100px;
}
.form_container form .radio_options .radio_selection {
  display: block;
}
.form_container form .radiolabel {
  display: inline-block;
  font-size: 18px;
}
.form_container form .checkbox_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form_container form .checkbox_wrapper .checkbox {
  display: block;
  margin: 8px;
}
.form_container form textarea {
  margin-top: 5px;
  margin-bottom: 16px;
  padding: 2px 5px;
  font-size: 20px;
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.form_container form label {
  display: block;
  font-size: 20px;
  padding: 2px 5px;
}
.form_container form .button {
  width: 250px;
  font-size: 20px;
  color: #e6e6e6;
  background: #15471c;
  outline: none;
}
.form_container form .button:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.form_container form .delete {
  background: #330000;
}

/* Rules */
.rules_container {
  grid-area: main/main/side/side;
}

.rules_header {
  font-size: 20px;
}
.rules_header p {
  margin: 0;
}
.rules_header p:first-child {
  font-weight: 700;
}
.rules_header .subtext {
  font-size: 16px;
  font-style: italic;
}

.rules_grid {
  margin: 12px;
  padding: 0;
  column-gap: 20px;
  column-count: 2;
}
.rules_grid .rules {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.rules_grid .rules h2 {
  position: relative;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
}
.rules_grid .rules h2:after {
  content: "";
  position: absolute;
  background: #15471c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.rules_grid .rules .rule {
  font-weight: 700;
}
.rules_grid .rules .rule_explaination {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 8px;
}

@media (max-width: 876px) {
  .rules_grid {
    column-count: 1;
  }
}
/* Staff */
.staff_container {
  grid-area: main/main/side/side;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.staff_container a {
  color: #e6e6e6;
  text-decoration: none;
}
.staff_container .card_small {
  display: block;
  width: 150px;
  margin: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.staff_container .card_small .name {
  position: relative;
  margin: 0;
  padding: 4px 0;
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  z-index: 1;
}
.staff_container .card_small .name:after {
  content: "";
  position: absolute;
  background: #15471c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.staff_container .card_small .rank {
  float: right;
  font-size: 16;
}
.staff_container .card_small .avatar {
  display: block;
  margin: 16px auto;
  text-align: center;
}
.staff_container .card_small .avatar img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
.staff_container .card {
  display: block;
  width: 300px;
  margin: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.staff_container .card .name {
  position: relative;
  margin: 0;
  padding: 4px 0;
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}
.staff_container .card .name:after {
  content: "";
  position: absolute;
  background: #15471c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.staff_container .card .rank {
  float: right;
}
.staff_container .card .avatar {
  display: block;
  margin: 16px auto;
  text-align: center;
}
.staff_container .card .avatar img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.staff_container .card .descr {
  display: block;
}

/* Profile */
.profile {
  display: grid;
  grid-gap: 16px;
  min-height: 260px;
  grid-template-areas: "avatar" "data";
}
.profile .avatar_wrapper {
  display: flex;
  justify-content: center;
  grid-area: avatar;
}
.profile .avatar {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.profile .data {
  grid-area: data;
}
.profile h2 {
  position: relative;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
}
.profile h2:after {
  content: "";
  position: absolute;
  background: #15471c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.profile .rank,
.profile .joined {
  font-style: italic;
  font-size: 14px;
}

.dashboard_links {
  width: 100%;
}
.dashboard_links .links {
  display: flex;
  justify-content: center;
  margin: 8px;
  flex-wrap: wrap;
}
.dashboard_links .links a {
  display: inline-block;
  margin: 8px 8px;
  color: #e6e6e6;
  text-decoration: none;
  padding: 8px 16px;
  z-index: 1;
  position: relative;
}
.dashboard_links .links a:after {
  content: "";
  position: absolute;
  background: #1c1547;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.dashboard_links form {
  display: flex;
  width: 275px;
  margin: 16px 8px;
  justify-content: center;
  flex-wrap: wrap;
}
.dashboard_links form label {
  margin: 5px 0;
  display: block;
  margin-right: 8px;
  width: 100%;
  text-align: center;
}
.dashboard_links form .button {
  margin: 5px 0;
  display: block;
  width: 250px;
  font-size: 20px;
  color: #e6e6e6;
  background: #15471c;
  outline: none;
  border-radius: 8px;
}
.dashboard_links form .button:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.dashboard h2 {
  display: block;
  position: relative;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
}
.dashboard h2:after {
  content: "";
  position: absolute;
  background: #15471c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

/* Media Queries */
@media (min-width: 656px) {
  .page_wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header 	header" "sidebar 	content" "ad 	content	" "footer 	footer";
  }

  .content_wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main 	side" "main 	side";
  }
}
@media (min-width: 1000px) {
  .page_wrapper {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "header 	header 	header" "sidebar 	content 	ad" "sidebar 	content		ad" "footer 	footer 	footer";
  }

  #particles-js {
    display: block;
  }

  .header_wrapper .navigation .menu_button {
    display: none;
  }

  .header_wrapper .navigation .nav_links {
    max-height: 600px;
    float: right;
    overflow: visible;
  }
  .header_wrapper .navigation .nav_links input:checked ~ label {
    color: #00e6e6;
  }
  .header_wrapper .navigation .nav_links input:checked ~ ul.submenu {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
  }
  .header_wrapper .navigation .nav_links label {
    display: block;
    float: left;
    max-width: 180px;
  }
  .header_wrapper .navigation .nav_links > li {
    float: left;
    border-left: 1px solid #e6e6e6;
    transform: skew(-20deg);
  }
  .header_wrapper .navigation .nav_links a {
    max-width: 220px;
  }
  .header_wrapper .navigation .nav_links ul.submenu {
    padding: 0;
    background: #1c1547;
    position: absolute;
    top: 100%;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    list-style-type: none;
    min-width: 100%;
    max-width: 200px;
  }
  .header_wrapper .navigation .nav_links ul.submenu li {
    display: block;
    box-sizing: border-box;
  }
}
@media (min-width: 1400px) {
  .profile {
    grid-template-columns: 260px 1fr;
    grid-template-areas: "avatar 	data" "avatar 	data";
  }

  .page_wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header 	header 	header" "sidebar 	content 	ad" "sidebar 	content		ad" "footer 	footer 	footer";
  }

  .content_wrapper {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main 	side" "main 	side";
  }
}

/*# sourceMappingURL=main.css.map */
