body {
  font-size: 16px;
  margin: 0;
  background: #fafafa;
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
}

.page_wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto auto auto;
  grid-template-areas: "header" "content" "sidebar" "ad" "footer";
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: 50% 50%;
  background-size: cover;
  display: none;
}

/*Grid Areas */
.header_wrapper {
  grid-area: header;
}

.reverse_content_wrapper,
.content_wrapper,
.full_content_wrapper {
  padding: 10px;
  box-sizing: border-box;
  background: #e6e6e6 url("/img/site/background.png");
  grid-area: content;
}

.reverse_content_wrapper {
  display: grid;
  grid-gap: 32px;
  grid-template-areas: "side" "main";
}

.content_wrapper {
  display: grid;
  grid-gap: 32px;
  grid-template-areas: "main" "side";
}

.sidebar {
  grid-area: sidebar;
}

.ad {
  grid-area: ad;
}

.footer_wrapper {
  grid-area: footer;
}

.main_container {
  grid-area: main;
}

.side_container {
  grid-area: side;
}

/* Header */
/* Shapes */
#nav_title {
  position: absolute;
  top: -10px;
  box-sizing: border-box;
  margin-left: 40px;
  padding: 5px;
  width: 250px;
  height: 90px;
  transform: skew(-20deg);
  font-size: 28px;
  background: #474747;
  color: #e6e6e6;
  text-align: center;
  font-family: "Laila", serif;
  font-weight: 700;
}

/* Shapes */
#nav_logo {
  position: absolute;
  top: -35px;
  box-sizing: border-box;
  margin-left: 40px;
  padding: 5px;
  height: 140px;
  font-size: 28px;
  text-align: center;
  font-family: "Laila", serif;
  font-weight: 700;
}
#nav_logo img {
  object-fit: cover;
  height: 100%;
}

.header_wrapper {
  font-family: "Laila", serif;
  z-index: 5;
}
.header_wrapper .banner {
  padding: 32px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  background: url("/img/headeroverlay.png") no-repeat;
  background-size: cover;
}
.header_wrapper .ip,
.header_wrapper .status {
  color: #e6e6e6;
  font-size: 22px;
  font-weight: 700;
}
.header_wrapper .offline {
  color: #ff7a7a;
}
.header_wrapper .online {
  color: #85ff7a;
}
.header_wrapper .navigation {
  position: sticky;
  box-sizing: border-box;
  height: 70px;
  padding: 3px 20px;
  background: #474747;
  color: #e6e6e6;
  /* Menu on */
}
.header_wrapper .navigation .menu_toggle {
  display: none;
}
.header_wrapper .navigation .menu_button {
  cursor: pointer;
  display: flex;
  float: right;
  padding: 16px 20px;
  position: relative;
  height: 32px;
  align-items: center;
}
.header_wrapper .navigation .menu_button span {
  background: #e6e6e6;
  display: block;
  height: 4px;
  position: relative;
  width: 32px;
  border-radius: 2px;
}
.header_wrapper .navigation .menu_button span:before, .header_wrapper .navigation .menu_button span:after {
  background: #e6e6e6;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 2px;
}
.header_wrapper .navigation .menu_button span:before {
  top: -10px;
}
.header_wrapper .navigation .menu_button span:after {
  top: 10px;
}
.header_wrapper .navigation .menu_toggle:checked ~ .nav_links {
  max-height: 1000px;
}
.header_wrapper .navigation .menu_toggle:checked ~ .menu_button span {
  background: transparent;
}
.header_wrapper .navigation .menu_toggle:checked ~ .menu_button span:before {
  transform: rotate(45deg);
  top: 0px;
}
.header_wrapper .navigation .menu_toggle:checked ~ .menu_button span:after {
  transform: rotate(-45deg);
  top: 0px;
}
.header_wrapper .navigation .nav_links {
  overflow: hidden;
  list-style: none;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin: 0 20px 0 0;
  color: #e6e6e6;
}
.header_wrapper .navigation .nav_links label {
  color: #e6e6e6;
  padding: 16px 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header_wrapper .navigation .nav_links .notifications {
  display: none;
  min-width: 10px;
  max-width: 50px;
  padding: 16px 0;
}
.header_wrapper .navigation .nav_links .subtoggle {
  display: none;
}
.header_wrapper .navigation .nav_links .subtoggle:checked ~ label {
  color: #66ffff;
}
.header_wrapper .navigation .nav_links .subtoggle:checked ~ ul.submenu {
  max-height: 300px;
  transition: max-height 0.5s ease-in;
}
.header_wrapper .navigation .nav_links ul.submenu {
  padding: 0;
  background: #474747;
  top: 100%;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  list-style-type: none;
  min-width: 100%;
  max-width: 200px;
}
.header_wrapper .navigation .nav_links ul.submenu li {
  display: block;
  box-sizing: border-box;
}
.header_wrapper .navigation .nav_links > li {
  background: #474747;
  display: block;
  font-size: 20px;
  box-sizing: border-box;
}
.header_wrapper .navigation .nav_links > li:hover {
  color: #66ffff;
}
.header_wrapper .navigation .nav_links a {
  text-overflow: ellipsis;
  padding: 16px 20px;
  display: block;
  color: #e6e6e6;
  text-decoration: none;
}
.header_wrapper .navigation .nav_links a:hover {
  color: #66ffff;
}

/* Home */
.news_container .news {
  padding: 0 4px 8px 4px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 8px;
  margin-bottom: 24px;
}
.news_container .news .title {
  font-size: 24px;
  margin-bottom: 0;
  color: #002a38;
}
.news_container .news .edit a {
  color: #002a38;
  text-align: center;
  font-size: 0.9em;
  float: right;
  margin: 0 8px;
  font-style: italic;
}
.news_container .news .author,
.news_container .news .date {
  font-size: 0.9em;
  display: inline-block;
  font-style: italic;
}

.older {
  float: left;
  display: block;
}

.newer {
  float: right;
  display: block;
}

.pagination {
  margin: 8px 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.pagination .current a,
.pagination .first a,
.pagination .previous a,
.pagination .next a,
.pagination .last a {
  margin: 0px 5px;
  color: #1a1a1a;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: relative;
}
.pagination .current a:after,
.pagination .first a:after,
.pagination .previous a:after,
.pagination .next a:after,
.pagination .last a:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

.older a,
.newer a {
  color: #1a1a1a;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: relative;
}
.older a:after,
.newer a:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

.upcoming_container {
  grid-area: main;
}

.events_container {
  grid-area: side;
}

.upcoming_container a,
.events_container a {
  font-style: italic;
  color: #002a38;
  text-align: center;
}
.upcoming_container .event,
.events_container .event {
  padding: 0 4px 8px 4px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 8px;
  margin-bottom: 24px;
}
.upcoming_container .event .title,
.events_container .event .title {
  font-size: 24px;
  margin-bottom: 0;
  color: #002a38;
}
.upcoming_container .event .edit a,
.events_container .event .edit a {
  color: #002a38;
  text-align: center;
  font-size: 0.9em;
  float: right;
  margin: 0 8px;
  font-style: italic;
}
.upcoming_container .event .author,
.upcoming_container .event .date,
.events_container .event .author,
.events_container .event .date {
  font-size: 0.9em;
  display: inline-block;
  font-style: italic;
}

.content_title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  color: #e6e6e6;
  z-index: 1;
}
.content_title:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

.info_box {
  max-width: 300px;
  text-align: center;
}
.info_box .img_container {
  display: flex;
  justify-content: center;
}
.info_box .img_container img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.info_box .homelinks p {
  padding: 8px 16px;
}
.info_box .homelinks a {
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 8px;
}
.info_box .homelinks a:after {
  content: "";
  position: absolute;
  border: 1px solid #002a38;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

.home_page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 16px 4px 24px 4px;
}

/* Forms */
.form_center_v {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form_img {
  width: 256px;
  height: 256px;
  object-fit: cover;
}

.alert {
  display: block;
  min-width: 300px;
  max-width: 100%;
  transform: skew(-15deg);
  margin: 16px 0;
}

.alert_error {
  background: #330000;
  color: #ff7a7a;
  font-size: 20px;
  padding: 8px 16px;
}

.alert_success {
  background: #043300;
  color: #85ff7a;
  font-size: 20px;
  padding: 8px 16px;
}

.form_container {
  margin-top: 24px;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form_container .form_width {
  min-width: 75%;
  max-width: 90%;
}
.form_container a {
  display: inline-block;
  margin: 8px 8px;
  color: #1a1a1a;
  text-decoration: none;
  padding: 8px 16px;
  z-index: 1;
  position: relative;
}
.form_container a:after {
  content: "";
  position: absolute;
  background: #66d9ff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
  border: 1px solid #fafafa;
}
.form_container h2 {
  font-size: 24px;
  position: relative;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  color: #66ffff;
  z-index: 1;
}
.form_container h2:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.form_container form input {
  display: block;
  width: 300px;
  font-size: 20px;
  padding: 2px 5px;
  border-radius: 8px;
  margin-bottom: 16px;
  outline: none;
  border: #e6e6e6 2px inset;
}
.form_container form input:focus {
  border: #66d9ff 2px inset;
}
.form_container form input[type=checkbox],
.form_container form input[type=radio] {
  display: inline-block;
  min-width: 10px;
  max-width: 16px;
}
.form_container form .radio_options {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form_container form .radio_options .radio_main_label {
  display: block;
  width: 100px;
}
.form_container form .radio_options .radio_selection {
  display: block;
}
.form_container form .radiolabel {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}
.form_container form .checkbox_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form_container form .checkbox_wrapper .checkbox {
  display: block;
  margin: 8px;
}
.form_container form textarea {
  margin-top: 5px;
  margin-bottom: 16px;
  padding: 2px 5px;
  font-size: 20px;
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  resize: none;
  outline: none;
  border: #e6e6e6 2px inset;
}
.form_container form textarea:focus {
  border: #66d9ff 2px inset;
}
.form_container form label {
  display: block;
  font-size: 20px;
  padding: 2px 5px;
  font-weight: 700;
}
.form_container form .button {
  display: inline-block;
  margin-right: 16px;
  width: 250px;
  font-size: 20px;
  color: #85ff7a;
  background: #043300;
  outline: none;
}
.form_container form .button:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.form_container form .delete {
  background: #330000;
  color: #ff7a7a;
}

/* Rules */
.rules_container {
  grid-area: main/main/side/side;
}

.rules_header {
  font-size: 20px;
}
.rules_header p {
  margin: 0;
}
.rules_header p:first-child {
  font-weight: 700;
}
.rules_header .subtext {
  font-size: 16px;
  font-style: italic;
}

.rules_grid {
  margin: 12px;
  padding: 0;
  column-gap: 20px;
  column-count: 2;
}
.rules_grid .rules {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.rules_grid .rules h2 {
  position: relative;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
  color: #e6e6e6;
}
.rules_grid .rules h2:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.rules_grid .rules .rule {
  font-weight: 700;
}
.rules_grid .rules .rule_explaination {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 8px;
}

@media (max-width: 876px) {
  .rules_grid {
    column-count: 1;
  }
}
/* Staff */
.staff_container {
  grid-area: main/main/side/side;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.staff_container a {
  color: #002a38;
  text-decoration: none;
}
.staff_container .card_small {
  display: block;
  width: 150px;
  margin: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.staff_container .card_small .name {
  position: relative;
  margin: 0;
  padding: 4px 0;
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  z-index: 1;
  color: #e6e6e6;
}
.staff_container .card_small .name:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.staff_container .card_small .rank {
  float: right;
  font-size: 16;
}
.staff_container .card_small .avatar {
  display: block;
  margin: 16px auto;
  text-align: center;
}
.staff_container .card_small .avatar img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
.staff_container .card {
  display: block;
  width: 300px;
  margin: 10px;
  padding: 8px;
  max-height: 500px;
  overflow-y: hidden;
  box-sizing: border-box;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.staff_container .card .name {
  position: relative;
  margin: 0;
  padding: 4px 0;
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  color: #e6e6e6;
}
.staff_container .card .name:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.staff_container .card .rank {
  float: right;
}
.staff_container .card .avatar {
  display: block;
  margin: 16px auto;
  text-align: center;
}
.staff_container .card .avatar img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.staff_container .card .descr {
  display: block;
  max-height: 150px;
  overflow-y: hidden;
}

/* Profile */
.profile {
  display: grid;
  grid-gap: 16px;
  min-height: 260px;
  grid-template-areas: "avatar" "data";
}
.profile .avatar_wrapper {
  display: flex;
  justify-content: center;
  grid-area: avatar;
}
.profile .avatar {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.profile .data {
  grid-area: data;
}
.profile .title {
  position: relative;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
  color: #e6e6e6;
}
.profile .title:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.profile .rank,
.profile .joined {
  font-style: italic;
  font-size: 14px;
}

.dashboard_links {
  width: 100%;
}
.dashboard_links .links {
  display: flex;
  justify-content: center;
  margin: 8px;
  flex-wrap: wrap;
}
.dashboard_links .links a {
  display: inline-block;
  margin: 8px 8px;
  color: #1a1a1a;
  text-decoration: none;
  padding: 8px 16px;
  z-index: 1;
  position: relative;
}
.dashboard_links .links a:after {
  content: "";
  position: absolute;
  background: #66d9ff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.dashboard_links form {
  display: flex;
  width: 275px;
  margin: 16px 8px;
  justify-content: center;
  flex-wrap: wrap;
}
.dashboard_links form label {
  margin: 5px 0;
  display: block;
  margin-right: 8px;
  width: 100%;
  text-align: center;
}
.dashboard_links form .button {
  margin: 5px 0;
  display: block;
  width: 250px;
  font-size: 20px;
  color: #85ff7a;
  background: #043300;
  outline: none;
  border-radius: 8px;
}
.dashboard_links form .button:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.dashboard_links form .delete {
  background: #330000;
  color: #ff7a7a;
}

.dashboard .title {
  display: block;
  position: relative;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
  color: #e6e6e6;
}
.dashboard .title:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

/* Support */
.donation_container .title,
.voting_container .title {
  display: block;
  position: relative;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
  color: #e6e6e6;
}
.donation_container .title:after,
.voting_container .title:after {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.donation_container .subtitle,
.voting_container .subtitle {
  margin-bottom: 24px;
  display: block;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}
.donation_container .icons,
.voting_container .icons {
  display: block;
  text-align: center;
  font-size: 32px;
}

.voting_container ul {
  list-style-type: none;
}
.voting_container .votinglink a {
  display: block;
  width: 60%;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 8px auto;
  color: #1a1a1a;
}
.voting_container .votinglink a:after {
  content: "";
  position: absolute;
  border: 1px solid #002a38;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}

.donation_container .donationlink {
  display: flex;
  justify-content: center;
}
.donation_container .donationlink a {
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 8px auto;
  color: #1a1a1a;
}
.donation_container .donationlink a:after {
  content: "";
  position: absolute;
  border: 1px solid #002a38;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.donation_container .donation_ranks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.donation_container .donation_ranks .card {
  width: 300px;
  margin: 24px;
}
.donation_container .donation_ranks .card ul {
  list-style-type: none;
}
.donation_container .donation_ranks .card .descr {
  margin-top: 6px;
  margin-bottom: 8px;
  display: block;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}
.donation_container .donation_ranks .card .rank {
  display: block;
  position: relative;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  z-index: 1;
  color: #002a38;
}
.donation_container .donation_ranks .card .rank:after {
  content: "";
  position: absolute;
  background: #66d9ff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.donation_container .donation_ranks .card .prize {
  font-size: 16px;
  float: right;
  margin-right: 2px;
}

/* PM */
.pm_container {
  grid-area: main;
}

.pm_side_container {
  grid-area: side;
}

.pm_container .links,
.pm_side_container .links {
  display: flex;
  justify-content: center;
  margin: 8px;
  flex-wrap: wrap;
}
.pm_container .links a,
.pm_side_container .links a {
  width: 75%;
  display: block;
  margin: 8px 0;
  color: #1a1a1a;
  text-decoration: none;
  padding: 8px 16px;
  z-index: 1;
  position: relative;
  text-align: center;
}
.pm_container .links a:after,
.pm_side_container .links a:after {
  content: "";
  position: absolute;
  background: #66d9ff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  z-index: -1;
}
.pm_container .users,
.pm_side_container .users {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 150px;
}
.pm_container .users .from,
.pm_side_container .users .from {
  font-weight: 700;
}
.pm_container .users .to,
.pm_side_container .users .to {
  font-weight: 700;
}
.pm_container .date,
.pm_side_container .date {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 150px;
}
.pm_container .msgtitle,
.pm_side_container .msgtitle {
  font-size: 22px;
  font-weight: 700;
  clear: both;
  padding-top: 16px;
  border-bottom: 1px solid #1a1a1a;
}
.pm_container .msg,
.pm_side_container .msg {
  clear: both;
}
.pm_container .pm,
.pm_side_container .pm {
  display: flex;
  justify-content: flex-start;
}
.pm_container .pm a,
.pm_side_container .pm a {
  width: calc(100% - 50px);
  display: grid;
  padding: 8px;
  grid-template-columns: 1fr 90px;
  grid-template-areas: "user time" "msg msg";
  color: #1a1a1a;
  text-align: center;
  text-decoration: none;
}
.pm_container .pm .time,
.pm_container .pm .sender,
.pm_container .pm .receiver,
.pm_container .pm .title,
.pm_side_container .pm .time,
.pm_side_container .pm .sender,
.pm_side_container .pm .receiver,
.pm_side_container .pm .title {
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
}
.pm_container .pm .sender,
.pm_container .pm .receiver,
.pm_container .pm .title,
.pm_side_container .pm .sender,
.pm_side_container .pm .receiver,
.pm_side_container .pm .title {
  min-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pm_container .pm .sender,
.pm_container .pm .receiver,
.pm_side_container .pm .sender,
.pm_side_container .pm .receiver {
  grid-area: user;
}
.pm_container .pm .title,
.pm_side_container .pm .title {
  grid-area: msg;
}
.pm_container .pm .time,
.pm_side_container .pm .time {
  grid-area: time;
}
.pm_container .pm .icons,
.pm_side_container .pm .icons {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  width: 50px;
  justify-content: space-between;
}
.pm_container .pm .icon,
.pm_side_container .pm .icon {
  width: 25px;
}

.trash {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@media (min-width: 1400px) {
  .pm_container .pm a {
    grid-template-columns: 150px 1fr 90px;
    grid-template-areas: "user msg time";
  }
}
/* Markdown Formatting */
.markdown h1 {
  font-size: 21px;
  margin-bottom: 0;
}
.markdown h2 {
  font-size: 19px;
  margin-bottom: 0;
}
.markdown a {
  font-style: italic;
  color: #002a38;
  text-align: center;
}
.markdown img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.markdown ul,
.markdown ol,
.markdown img,
.markdown p {
  margin: 8px 0;
}

/* Footer */
.footer_wrapper {
  font-family: "Laila", serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #e6e6e6;
  background: #474747;
  font-size: 16px;
}
.footer_wrapper .media {
  font-size: 48px;
}
.footer_wrapper .media a {
  color: #e6e6e6;
  margin: 8px;
}
.footer_wrapper .media a:hover {
  color: #66ffff;
}
.footer_wrapper .box {
  margin: 16px 24px;
  width: 300px;
  text-align: center;
}
.footer_wrapper .box .img_container {
  display: block;
  height: 75px;
}
.footer_wrapper .box img {
  object-fit: cover;
  height: 100%;
}

/* Media Queries */
@media (min-width: 656px) {
  .page_wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: "header 	header" "sidebar 	content" "ad 	content	" "footer 	footer";
  }

  .content_wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main 	side" "main 	side";
  }

  .reverse_content_wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "side 	main" "side 	main";
  }
}
@media (min-width: 1000px) {
  .page_wrapper {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: "header 	header 	header" "sidebar 	content 	ad" "sidebar 	content		ad" "footer 	footer 	footer";
  }

  #particles-js {
    display: block;
  }

  .header_wrapper .navigation .menu_button {
    display: none;
  }

  .header_wrapper .navigation .nav_links {
    max-height: 600px;
    float: right;
    overflow: visible;
  }
  .header_wrapper .navigation .nav_links .notifications {
    display: inline-block;
  }
  .header_wrapper .navigation .nav_links input:checked ~ label {
    color: #66ffff;
  }
  .header_wrapper .navigation .nav_links input:checked ~ ul.submenu {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
  }
  .header_wrapper .navigation .nav_links label {
    display: block;
    float: left;
    min-width: 150px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .header_wrapper .navigation .nav_links > li {
    float: left;
    border-left: 1px solid #e6e6e6;
    transform: skew(-20deg);
  }
  .header_wrapper .navigation .nav_links a {
    max-width: 220px;
  }
  .header_wrapper .navigation .nav_links ul.submenu {
    padding: 0;
    background: #474747;
    position: absolute;
    top: 100%;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    list-style-type: none;
    min-width: 100%;
    max-width: 200px;
  }
  .header_wrapper .navigation .nav_links ul.submenu li {
    display: block;
    box-sizing: border-box;
  }
}
@media (min-width: 1400px) {
  .profile {
    grid-template-columns: 260px 1fr;
    grid-template-areas: "avatar 	data" "avatar 	data";
  }

  .page_wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: "header 	header 	header" "sidebar 	content 	ad" "sidebar 	content		ad" "footer 	footer 	footer";
  }

  .content_wrapper {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main 	side" "main 	side";
  }

  .reverse_content_wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "side 	main" "side 	main";
  }
}

/*# sourceMappingURL=main.css.map */
